# Copyright 2024 Wong Hoi Sing Edison <hswong3i@pantarei-design.com>
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
apiVersion: v1
kind: Namespace
metadata:
  name: csi-rbd
  labels:
    app.kubernetes.io/name: csi-rbd
    app.kubernetes.io/part-of: csi-rbd
    addonmanager.kubernetes.io/mode: Reconcile

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: ceph-config
  namespace: csi-rbd
  labels:
    app.kubernetes.io/name: csi-cephfs
    app.kubernetes.io/part-of: csi-cephfs
    addonmanager.kubernetes.io/mode: Reconcile
data:
  ceph.conf: |
    [global]
    auth_cluster_required = cephx
    auth_service_required = cephx
    auth_client_required = cephx
    fuse_set_user_groups = false
    fuse_big_writes = true
  keyring: |

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: ceph-csi-config
  namespace: csi-rbd
  labels:
    app.kubernetes.io/name: csi-rbd
    app.kubernetes.io/part-of: csi-rbd
    addonmanager.kubernetes.io/mode: Reconcile
data:
  config.json: |
    {{ kube_csi_rbd_config | to_nice_json(indent=4) | indent(4) }}

---
apiVersion: v1
kind: Secret
metadata:
  name: csi-rbd-secret
  namespace: csi-rbd
  labels:
    app.kubernetes.io/name: csi-rbd
    app.kubernetes.io/part-of: csi-rbd
    addonmanager.kubernetes.io/mode: Reconcile
stringData:
  userID: {{ kube_csi_rbd_admin_id }}
  userKey: {{ kube_csi_rbd_admin_secret }}
  adminID: {{ kube_csi_rbd_admin_id }}
  adminKey: {{ kube_csi_rbd_admin_secret }}

---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: csi-rbd-provisioner
  namespace: csi-rbd
  labels:
    app.kubernetes.io/name: csi-rbd
    app.kubernetes.io/part-of: csi-rbd
    addonmanager.kubernetes.io/mode: Reconcile

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: rbd-external-provisioner-runner
  labels:
    app.kubernetes.io/name: csi-rbd
    app.kubernetes.io/part-of: csi-rbd
    addonmanager.kubernetes.io/mode: Reconcile
rules:
  - apiGroups:
      - ""
    resources:
      - nodes
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - ""
    resources:
      - secrets
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - ""
    resources:
      - events
    verbs:
      - list
      - watch
      - create
      - update
      - patch
  - apiGroups:
      - ""
    resources:
      - persistentvolumes
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - delete
      - patch
  - apiGroups:
      - ""
    resources:
      - persistentvolumeclaims
    verbs:
      - get
      - list
      - watch
      - update
  - apiGroups:
      - ""
    resources:
      - persistentvolumeclaims/status
    verbs:
      - update
      - patch
  - apiGroups:
      - storage.k8s.io
    resources:
      - storageclasses
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - snapshot.storage.k8s.io
    resources:
      - volumesnapshots
    verbs: ["get", "list", "patch"]
    verbs:
      - get
      - list
      - watch
      - update
      - patch
      - create
  - apiGroups:
      - snapshot.storage.k8s.io
    resources:
      - volumesnapshots/status
    verbs:
      - get
      - list
      - patch
  - apiGroups:
      - snapshot.storage.k8s.io
    resources:
      - volumesnapshotcontents
    verbs:
      - create
      - get
      - list
      - watch
      - update
      - delete
      - patch
  - apiGroups:
      - snapshot.storage.k8s.io
    resources:
      - volumesnapshotclasses
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - storage.k8s.io
    resources:
      - volumeattachments
    verbs:
      - get
      - list
      - watch
      - update
      - patch
  - apiGroups:
      - storage.k8s.io
    resources:
      - volumeattachments/status
    verbs:
      - patch
  - apiGroups:
      - storage.k8s.io
    resources:
      - csinodes
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - snapshot.storage.k8s.io
    resources:
      - volumesnapshotcontents/status
    verbs:
      - update
      - patch
  - apiGroups:
      - ""
    resources:
      - configmaps
    verbs:
      - get
  - apiGroups:
      - ""
    resources:
      - serviceaccounts
    verbs:
      - get
  - apiGroups:
      - ""
    resources:
      - serviceaccounts/token
    verbs:
      - create
  - apiGroups:
      - groupsnapshot.storage.k8s.io
    resources:
      - volumegroupsnapshotclasses
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - groupsnapshot.storage.k8s.io
    resources:
      - volumegroupsnapshotcontents
    verbs:
      - get
      - list
      - watch
      - update
      - patch
  - apiGroups:
      - groupsnapshot.storage.k8s.io
    resources:
      - volumegroupsnapshotcontents/status
    verbs:
      - update
      - patch

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: csi-rbd-provisioner-role
  labels:
    app.kubernetes.io/name: csi-rbd
    app.kubernetes.io/part-of: csi-rbd
    addonmanager.kubernetes.io/mode: EnsureExists
subjects:
  - kind: ServiceAccount
    name: csi-rbd-provisioner
    namespace: csi-rbd
roleRef:
  kind: ClusterRole
  name: rbd-external-provisioner-runner
  apiGroup: rbac.authorization.k8s.io

---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: rbd-external-provisioner-cfg
  namespace: csi-rbd
  labels:
    app.kubernetes.io/name: csi-rbd
    app.kubernetes.io/part-of: csi-rbd
    addonmanager.kubernetes.io/mode: Reconcile
rules:
  - apiGroups:
      - ""
    resources:
      - configmaps
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - delete
  - apiGroups:
      - coordination.k8s.io
    resources:
      - leases
    verbs:
      - get
      - watch
      - list
      - delete
      - update
      - create

---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: csi-rbd-provisioner-role-cfg
  namespace: csi-rbd
  labels:
    app.kubernetes.io/name: csi-rbd
    app.kubernetes.io/part-of: csi-rbd
    addonmanager.kubernetes.io/mode: EnsureExists
subjects:
  - kind: ServiceAccount
    name: csi-rbd-provisioner
    namespace: csi-rbd
roleRef:
  kind: Role
  name: rbd-external-provisioner-cfg
  apiGroup: rbac.authorization.k8s.io

---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: csi-rbd-nodeplugin
  namespace: csi-rbd
  labels:
    app.kubernetes.io/name: csi-rbd
    app.kubernetes.io/part-of: csi-rbd
    addonmanager.kubernetes.io/mode: Reconcile

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: csi-rbd-nodeplugin
  labels:
    app.kubernetes.io/name: csi-rbd
    app.kubernetes.io/part-of: csi-rbd
    addonmanager.kubernetes.io/mode: Reconcile
rules:
  - apiGroups:
      - ""
    resources:
      - nodes
    verbs:
      - get
  - apiGroups:
      - ""
    resources:
      - secrets
    verbs:
      - get
  - apiGroups:
      - ""
    resources:
      - configmaps
    verbs:
      - get
  - apiGroups:
      - ""
    resources:
      - serviceaccounts
    verbs:
      - get
  - apiGroups:
      - ""
    resources:
      - persistentvolumes
    verbs:
      - get
  - apiGroups:
      - storage.k8s.io
    resources:
      - volumeattachments
    verbs:
      - list
      - get
  - apiGroups:
      - ""
    resources:
      - serviceaccounts/token
    verbs:
      - create

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: csi-rbd-nodeplugin
  labels:
    app.kubernetes.io/name: csi-rbd
    app.kubernetes.io/part-of: csi-rbd
    addonmanager.kubernetes.io/mode: EnsureExists
subjects:
  - kind: ServiceAccount
    name: csi-rbd-nodeplugin
    namespace: csi-rbd
roleRef:
  kind: ClusterRole
  name: csi-rbd-nodeplugin
  apiGroup: rbac.authorization.k8s.io

---
apiVersion: storage.k8s.io/v1
kind: CSIDriver
metadata:
  name: rbd.csi.ceph.com
  labels:
    app.kubernetes.io/name: csi-rbd
    app.kubernetes.io/part-of: csi-rbd
    addonmanager.kubernetes.io/mode: Reconcile
spec:
  attachRequired: true
  podInfoOnMount: false
  seLinuxMount: true
  fsGroupPolicy: File

---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: csi-rbd
  labels:
    app.kubernetes.io/name: csi-rbd
    app.kubernetes.io/part-of: csi-rbd
    addonmanager.kubernetes.io/mode: Reconcile
provisioner: rbd.csi.ceph.com
parameters:
  {{ kube_csi_rbd_parameters | to_nice_yaml(indent=2) | indent(2) }}

---
apiVersion: v1
kind: Service
metadata:
  name: csi-rbd-provisioner
  namespace: csi-rbd
  labels:
    app.kubernetes.io/name: csi-rbd-provisioner
    app.kubernetes.io/part-of: csi-rbd
    addonmanager.kubernetes.io/mode: Reconcile
spec:
  selector:
    app.kubernetes.io/name: csi-rbd-provisioner
    app.kubernetes.io/part-of: csi-rbd
    addonmanager.kubernetes.io/mode: Reconcile
  ports:
    - name: http-metrics
      port: 8080
      protocol: TCP
      targetPort: 8680

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: csi-rbd-provisioner
  namespace: csi-rbd
  labels:
    app.kubernetes.io/name: csi-rbd-provisioner
    app.kubernetes.io/part-of: csi-rbd
    addonmanager.kubernetes.io/mode: Reconcile
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: csi-rbd-provisioner
      app.kubernetes.io/part-of: csi-rbd
      addonmanager.kubernetes.io/mode: Reconcile
  template:
    metadata:
      labels:
        app.kubernetes.io/name: csi-rbd-provisioner
        app.kubernetes.io/part-of: csi-rbd
        addonmanager.kubernetes.io/mode: Reconcile
    spec:
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchExpressions:
                  - key: app
                    operator: In
                    values:
                      - csi-rbdplugin-provisioner
              topologyKey: kubernetes.io/hostname
      serviceAccountName: csi-rbd-provisioner
      priorityClassName: system-cluster-critical
      containers:
        - name: csi-rbdplugin
          image: quay.io/cephcsi/cephcsi:v3.12.3
          imagePullPolicy: IfNotPresent
          args:
            - --nodeid=$(NODE_ID)
            - --type=rbd
            - --controllerserver=true
            - --endpoint=$(CSI_ENDPOINT)
            - --csi-addons-endpoint=$(CSI_ADDONS_ENDPOINT)
            - --v=5
            - --drivername=rbd.csi.ceph.com
            - --pidlimit=-1
            - --rbdhardmaxclonedepth=8
            - --rbdsoftmaxclonedepth=4
            - --enableprofiling=false
            - --setmetadata=true
          env:
            - name: POD_IP
              valueFrom:
                fieldRef:
                  fieldPath: status.podIP
            - name: NODE_ID
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: CSI_ENDPOINT
              value: unix:///csi/csi-provisioner.sock
            - name: CSI_ADDONS_ENDPOINT
              value: unix:///csi/csi-addons.sock
          volumeMounts:
            - name: socket-dir
              mountPath: /csi
            - mountPath: /dev
              name: host-dev
            - mountPath: /sys
              name: host-sys
            - mountPath: /lib/modules
              name: lib-modules
              readOnly: true
            - name: ceph-csi-config
              mountPath: /etc/ceph-csi-config
            - name: keys-tmp-dir
              mountPath: /tmp/csi/keys
            - name: ceph-config
              mountPath: /etc/ceph
            - name: oidc-token
              mountPath: /run/secrets/tokens
              readOnly: true
        - name: csi-provisioner
          image: registry.k8s.io/sig-storage/csi-provisioner:v5.0.1
          imagePullPolicy: IfNotPresent
          args:
            - --csi-address=$(ADDRESS)
            - --v=1
            - --timeout=150s
            - --retry-interval-start=500ms
            - --leader-election=true
            - --feature-gates=HonorPVReclaimPolicy=true
            - --prevent-volume-mode-conversion=true
            - --default-fstype=ext4
            - --extra-create-metadata=false
          env:
            - name: ADDRESS
              value: unix:///csi/csi-provisioner.sock
          volumeMounts:
            - name: socket-dir
              mountPath: /csi
        - name: csi-snapshotter
          image: registry.k8s.io/sig-storage/csi-snapshotter:v8.0.1
          imagePullPolicy: IfNotPresent
          args:
            - --csi-address=$(ADDRESS)
            - --v=1
            - --timeout=150s
            - --leader-election=true
            - --extra-create-metadata=false
            - --enable-volume-group-snapshots=true
          env:
            - name: ADDRESS
              value: unix:///csi/csi-provisioner.sock
          volumeMounts:
            - name: socket-dir
              mountPath: /csi
        - name: csi-attacher
          image: registry.k8s.io/sig-storage/csi-attacher:v4.6.1
          imagePullPolicy: IfNotPresent
          args:
            - --v=1
            - --csi-address=$(ADDRESS)
            - --leader-election=true
            - --retry-interval-start=500ms
            - --default-fstype=ext4
          env:
            - name: ADDRESS
              value: /csi/csi-provisioner.sock
          volumeMounts:
            - name: socket-dir
              mountPath: /csi
        - name: csi-resizer
          image: registry.k8s.io/sig-storage/csi-resizer:v1.11.1
          imagePullPolicy: IfNotPresent
          args:
            - --csi-address=$(ADDRESS)
            - --v=1
            - --timeout=150s
            - --leader-election
            - --retry-interval-start=500ms
            - --handle-volume-inuse-error=false
            - --feature-gates=RecoverVolumeExpansionFailure=true
          env:
            - name: ADDRESS
              value: unix:///csi/csi-provisioner.sock
          volumeMounts:
            - name: socket-dir
              mountPath: /csi
        - name: csi-rbdplugin-controller
          image: quay.io/cephcsi/cephcsi:v3.12.3
          args:
            - --type=controller
            - --v=5
            - --drivername=rbd.csi.ceph.com
            - --drivernamespace=$(DRIVER_NAMESPACE)
            - --setmetadata=true
          env:
            - name: DRIVER_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
          imagePullPolicy: IfNotPresent
          volumeMounts:
            - name: ceph-csi-config
              mountPath: /etc/ceph-csi-config
            - name: keys-tmp-dir
              mountPath: /tmp/csi/keys
            - name: ceph-config
              mountPath: /etc/ceph
        - name: liveness-prometheus
          image: quay.io/cephcsi/cephcsi:v3.12.3
          imagePullPolicy: IfNotPresent
          args:
            - --type=liveness
            - --endpoint=$(CSI_ENDPOINT)
            - --metricsport=8680
            - --metricspath=/metrics
            - --polltime=60s
            - --timeout=3s
          env:
            - name: CSI_ENDPOINT
              value: unix:///csi/csi-provisioner.sock
            - name: POD_IP
              valueFrom:
                fieldRef:
                  fieldPath: status.podIP
          volumeMounts:
            - name: socket-dir
              mountPath: /csi
      volumes:
        - name: host-dev
          hostPath:
            path: /dev
        - name: host-sys
          hostPath:
            path: /sys
        - name: lib-modules
          hostPath:
            path: /lib/modules
        - name: socket-dir
          emptyDir:
            medium: Memory
        - name: ceph-config
          configMap:
            name: ceph-config
        - name: ceph-csi-config
          configMap:
            name: ceph-csi-config
        - name: keys-tmp-dir
          emptyDir:
            medium: Memory
        - name: oidc-token
          projected:
            sources:
              - serviceAccountToken:
                  path: oidc-token
                  expirationSeconds: 3600
                  audience: ceph-csi-kms

---
apiVersion: v1
kind: Service
metadata:
  name: csi-rbdplugin
  namespace: csi-rbd
  labels:
    app.kubernetes.io/name: csi-rbdplugin
    app.kubernetes.io/part-of: csi-rbd
    addonmanager.kubernetes.io/mode: Reconcile
spec:
  selector:
    app.kubernetes.io/name: csi-rbdplugin
    app.kubernetes.io/part-of: csi-rbd
    addonmanager.kubernetes.io/mode: Reconcile
  ports:
    - name: http-metrics
      port: 8080
      protocol: TCP
      targetPort: 8680

---
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: csi-rbdplugin
  namespace: csi-rbd
  labels:
    app.kubernetes.io/name: csi-rbdplugin
    app.kubernetes.io/part-of: csi-rbd
    addonmanager.kubernetes.io/mode: Reconcile
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: csi-rbdplugin
      app.kubernetes.io/part-of: csi-rbd
      addonmanager.kubernetes.io/mode: Reconcile
  template:
    metadata:
      labels:
        app.kubernetes.io/name: csi-rbdplugin
        app.kubernetes.io/part-of: csi-rbd
        addonmanager.kubernetes.io/mode: Reconcile
    spec:
      serviceAccountName: csi-rbd-nodeplugin
      priorityClassName: system-node-critical
      hostNetwork: true
      hostPID: true
      dnsPolicy: ClusterFirstWithHostNet
      containers:
        - name: csi-rbdplugin
          securityContext:
            privileged: true
            capabilities:
              add:
                - SYS_ADMIN
            allowPrivilegeEscalation: true
          image: quay.io/cephcsi/cephcsi:v3.12.3
          imagePullPolicy: IfNotPresent
          args:
            - --nodeid=$(NODE_ID)
            - --pluginpath=/var/lib/kubelet/plugins
            - --stagingpath=/var/lib/kubelet/plugins/kubernetes.io/csi
            - --type=rbd
            - --nodeserver=true
            - --endpoint=$(CSI_ENDPOINT)
            - --csi-addons-endpoint=$(CSI_ADDONS_ENDPOINT)
            - --v=5
            - --drivername=rbd.csi.ceph.com
            - --enableprofiling=false
          env:
            - name: POD_IP
              valueFrom:
                fieldRef:
                  fieldPath: status.podIP
            - name: NODE_ID
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: CSI_ENDPOINT
              value: unix:///csi/csi.sock
            - name: CSI_ADDONS_ENDPOINT
              value: unix:///csi/csi-addons.sock
          volumeMounts:
            - name: socket-dir
              mountPath: /csi
            - name: host-dev
              mountPath: /dev
            - name: host-sys
              mountPath: /sys
            - name: host-mount
              mountPath: /run/mount
            - name: etc-selinux
              mountPath: /etc/selinux
              readOnly: true
            - name: lib-modules
              mountPath: /lib/modules
              readOnly: true
            - name: ceph-csi-config
              mountPath: /etc/ceph-csi-config
            - name: plugin-dir
              mountPath: /var/lib/kubelet/plugins
              mountPropagation: Bidirectional
            - name: mountpoint-dir
              mountPath: /var/lib/kubelet/pods
              mountPropagation: Bidirectional
            - name: keys-tmp-dir
              mountPath: /tmp/csi/keys
            - name: ceph-logdir
              mountPath: /var/log/ceph
            - name: ceph-config
              mountPath: /etc/ceph
            - name: oidc-token
              mountPath: /run/secrets/tokens
              readOnly: true
        - name: driver-registrar
          securityContext:
            privileged: true
            allowPrivilegeEscalation: true
          image: registry.k8s.io/sig-storage/csi-node-driver-registrar:v2.11.1
          imagePullPolicy: IfNotPresent
          args:
            - --v=1
            - --csi-address=/csi/csi.sock
            - --kubelet-registration-path=/var/lib/kubelet/plugins/rbd.csi.ceph.com/csi.sock
          env:
            - name: KUBE_NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
          volumeMounts:
            - name: socket-dir
              mountPath: /csi
            - name: registration-dir
              mountPath: /registration
        - name: liveness-prometheus
          securityContext:
            privileged: true
            allowPrivilegeEscalation: true
          image: quay.io/cephcsi/cephcsi:v3.12.3
          imagePullPolicy: IfNotPresent
          args:
            - --type=liveness
            - --endpoint=$(CSI_ENDPOINT)
            - --metricsport=8680
            - --metricspath=/metrics
            - --polltime=60s
            - --timeout=3s
          env:
            - name: CSI_ENDPOINT
              value: unix:///csi/csi.sock
            - name: POD_IP
              valueFrom:
                fieldRef:
                  fieldPath: status.podIP
          volumeMounts:
            - name: socket-dir
              mountPath: /csi
      volumes:
        - name: socket-dir
          hostPath:
            path: /var/lib/kubelet/plugins/rbd.csi.ceph.com
            type: DirectoryOrCreate
        - name: plugin-dir
          hostPath:
            path: /var/lib/kubelet/plugins
            type: Directory
        - name: mountpoint-dir
          hostPath:
            path: /var/lib/kubelet/pods
            type: DirectoryOrCreate
        - name: ceph-logdir
          hostPath:
            path: /var/log/ceph
            type: DirectoryOrCreate
        - name: registration-dir
          hostPath:
            path: /var/lib/kubelet/plugins_registry
            type: Directory
        - name: host-dev
          hostPath:
            path: /dev
        - name: host-sys
          hostPath:
            path: /sys
        - name: etc-selinux
          hostPath:
            path: /etc/selinux
        - name: host-mount
          hostPath:
            path: /run/mount
        - name: lib-modules
          hostPath:
            path: /lib/modules
        - name: ceph-config
          configMap:
            name: ceph-config
        - name: ceph-csi-config
          configMap:
            name: ceph-csi-config
        - name: keys-tmp-dir
          emptyDir:
            medium: Memory
        - name: oidc-token
          projected:
            sources:
              - serviceAccountToken:
                  path: oidc-token
                  expirationSeconds: 3600
                  audience: ceph-csi-kms
